<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        <form action="" method="POST">
            {% csrf_token %}

            <label for="pergunta">Pergunta:</label>
            <input type="text" name="pergunta" required> <br><br>

            <input type="submit">
        </form>
    <a href="{{resposta}}" target="_blank">{{resposta}}</a>
    
    <br><br><br><br><br><br><br><br><br><br><br><br>

    <a href="{% url 'core_funny'%}">Funny</a>

</body>
</html>